* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	background-color: #101010;
}
.parent {
	width: 100%;
	display: flex;
	justify-content: center;
}
.container {
	width: 950px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 30px;
	background-color: rgba(69, 69, 69, 0.3);
}
video {
	/* border: 1px solid red; */
	width: 800px;
	height: 450px;
	border-radius: 20px;
	margin-top: 20px;
}
input[type="range"] {
	height: auto;
	appearance: none;
	margin: 0;
	width: 790px;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000;
	background: #fff;
	border-radius: 1px;
	border: 0px solid #000000;
	margin-top: -20px;
}
input[type="range"]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 2px solid #f2f2f2;
	height: 15px;
	width: 15px;
	border-radius: 25px;
	background: red;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #fff;
}
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	box-shadow: 0px 0px 0px #000000;
	background: #fff;
	border-radius: 1px;
	border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 2px solid #f2f2f2;
	height: 15px;
	width: 15px;
	border-radius: 25px;
	background: red;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type="range"]::-ms-fill-lower {
	background: red;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
	background: #fff;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 0px #000000;
	border: 2px solid #f2f2f2;
	height: 18px;
	width: 18px;
	border-radius: 25px;
	background: red;
	cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
	background: red;
}
input[type="range"]:focus::-ms-fill-upper {
	background: #fff;
}
.timing {
	margin-top: -5px;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.menu-bar {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
}
.menu-start {
	display: flex;
	gap: 5px;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.menu-mid {
	display: flex;
	gap: 10px;
	margin-left: -550px;
}
span {
	color: #fff;
}
#play {
	font-size: 45px;
}
#pause {
	font-size: 45px;
	display: none;
}
#prev {
	font-size: 30px;
	opacity: 0.3;
	margin-right: 5px;
}
#next {
	font-size: 30px;
	margin-left: 0px;
}
/* #replay {
	font-size: 25px;
}
#forward {
	font-size: 25px;
} */
#volume {
	font-size: 22px;
}
#volume-off {
	font-size: 22px;
	display: none;
}
#volume-bar {
	all: unset;
	margin-top: 32px;
	margin-left: 40px;
	position: absolute;
}
.menu-end {
	display: flex;
	gap: 10px;
}

#settings {
	font-size: 20px;
}
#fullscreen {
	font-size: 27px;
}
